<!DOCTYPE html>
	<head>
    <title>PrepPapers - Online Exam Question Papers Directory</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/download.css">
    <link rel="icon" 
      type="image/gif" 
      href="http://www.crwflags.com/fotw/images/e/es%7Dpp_96.gif">
	</head>
	<body>
		<header>
  <div class="bars">
    <ul>
      <li class="cor-1"></li>
      <li class="cor-2"></li>
      <li class="cor-3"></li>
      <li class="cor-4"></li>
      <li class="cor-5"></li>
    </ul>
  </div>
  <div class="header-title">
    <%= title %> 
  </div>
</header>

<section class="content-block">
  <h1>Yearwise papers</h1>
  <% for (var i =0 ;i<saal;i++) { %>
  <h2><%= years[i] %></h2>
  <a href="<%= links[i] %>" class="btn paper-raise">View / Download</a>
  <% } %>
</section>
<br /><br /><br />
<footer>
  Request more papers at <STRONG>contact@preppapers.com</strong> .
</footer>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

	</body>
</html>