<!DOCTYPE html>
<html>
  <head>
    <title>PrepPapers - Online Exam Question Papers Directory</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
 
	<div class="container">

	  <ul class="navbar">
	    <li class="nb-link"><a href="">Home</a></li>
	    <li class="dropdown">
	      <a class="main-top">CBSE</a>
	      <ul class="dropdown-menu">
	        <li><a href="/cbse/10-standard" style="text-decoration: none;color: inherit;">10th Standard</a></li>
	        <li><a href="/cbse/12-standard" style="text-decoration: none;color: inherit;">12th Standard</a></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a class="main-top">Engineering</a>
	      <ul class="dropdown-menu">
	        <li><a href="/engineering/jee-main" style="text-decoration: none;color: inherit;">JEE - Main</a></li>
	        <li><a href="/engineering/jee-adv" style="text-decoration: none;color: inherit;">JEE - Advanced</a></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a class="main-top">Management</a>
	      <ul class="dropdown-menu">
	        <li><a href="/management/cat" style="text-decoration: none;color: inherit;">CAT</a></li>
	        <li><a href="/management/xat" style="text-decoration: none;color: inherit;">XAT</a></li>
	      </ul>
	    </li>
	    <li class="nb-link"><a href="/upsc">UPSC</a></li>
	    <li class="dropdown">
	      <a class="main-top">Law</a>
	      <ul class="dropdown-menu">
	        <li><a href="/law/clat" style="text-decoration: none;color: inherit;">CLAT</a></li>
	        <li><a href="/law/ailet" style="text-decoration: none;color: inherit;">AILET</a></li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a class="main-top">Medical</a>
	      <ul class="dropdown-menu">
	        <li><a href="/medical/aipmt" style="text-decoration: none;color: inherit;">AIPMT</a></li>
	        <li><a href="/medical/aiimsmbbs" style="text-decoration: none;color: inherit;">AIIMS MBBS</a></li>
	      </ul>
	    </li>
	    <li class="nb-link"><a href="/kvpy">KVPY&nbsp;&nbsp;&nbsp;</a></li>
	  </ul>
	  
	  
	  <div class="content">
	    <h1>PrepPapers</h1>
	  	<h2>Online Exam Question Papers Directory</h2>
	  	<br /><br />
	  	<h3><STRONG class="son">0</STRONG> students online now</h3>
	  	<h3><STRONG class="pd">0</STRONG> papers downloaded</h3>
	  	<h3><STRONG class="tv">0</STRONG> total views</h3>
	 </div>

	</div>

	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	<script type="text/javascript" src="/javascripts/home.js"></script>
	<script>
    var socket = io.connect("127.0.0.1:3000");
    socket.on('connect', function () {
      socket.on('current_users', function(data) {
      	$('.son').html(data.value)
      	$('.tv').html(data.tviews)
      	$('.pd').html(data.downloads)
      })
    })
</script>
  </body>
</html>
