<!DOCTYPE html>
<html>
  <head>
    <title>PrepPapers - Online Exam Question Papers Directory</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
  	<header>
	<nav>
		<div>
			<a><span>CBSE</span></a>
			<div>
				<a href="/cbse/10-standard">10th Standard</a>
				<a href="/cbse/12-standard">12th Standard</a>
			</div>
		</div>
		<div>
			<a><span>Engineering</span></a>
			<div>
				<a href="/engineering/jee-main">JEE - Main</a>
				<a href="/engineering/jee-adv">JEE - Advanced</a>
			</div>
		</div>
		<div>
			<a href="/upsc"><span>UPSC</span></a>
		</div>
		<div>
			<a><span>Management</span></a>
			<div>
				<a href="/management/cat">CAT</a>
				<a href="/management/xat">XAT</a>
			</div>
		</div>
		<div>
			<a><span>Law</span></a>
			<div>
				<a href="/law/clat">CLAT</a>
				<a href="/law/ailet">AILET</a>
			</div>
		</div>
		<div>
			<a><span>Medical</span></a>
			<div>
				<a href="/medical/aipmt">AIPMT</a>
				<a href="/medical/aiimsmbbs">AIIMS MBBS</a>
			</div>
		</div>
	</nav>
</header>
	  
	  <div class="content">
	    <h1>PrepPapers</h1>
	  	<h2>Online Exam Question Papers Directory</h2>
	  	<br /><br />
	  	<h3><STRONG class="son">0</STRONG> students online now</h3>
	  	<h3><STRONG class="pd">0</STRONG> papers downloaded</h3>
	  	<h3><STRONG class="tv">0</STRONG> total views</h3>
	 </div>

	</div>

	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	<script type="text/javascript" src="/javascripts/home.js"></script>
	<script>
    var socket = io.connect("127.0.0.1:3000");
    socket.on('connect', function () {
      socket.on('current_users', function(data) {
      	$('.son').html(data.value)
      	$('.tv').html(data.tviews)
      	$('.pd').html(data.downloads)
      })
    })
</script>
  </body>
</html>
