<!DOCTYPE html>
<html>
  <head>
    <title>PrepPapers - Online Exam Question Papers Directory</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body class="filter-me">
 
	<div class="container">

	  <ul class="navbar">
	    <li class="nb-link"><a>Home</a></li>
	    <li class="dropdown">
	      <a>CBSE</a>
	      <ul class="dropdown-menu">
	        <li>10th Standard</li>
	        <li>12th Standard</li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a>Engineering</a>
	      <ul class="dropdown-menu">
	        <li>JEE - Main</li>
	        <li>JEE - Advanced</li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a>Management</a>
	      <ul class="dropdown-menu">
	        <li>CAT</li>
	        <li>XAT</li>
	      </ul>
	    </li>
	    <li class="nb-link"><a>UPSC</a></li>
	    <li class="dropdown">
	      <a>Law</a>
	      <ul class="dropdown-menu">
	        <li>CLAT</li>
	        <li>AILET</li>
	        <li>MNLUAT</li>
	      </ul>
	    </li>
	    <li class="dropdown">
	      <a>Medical&nbsp;&nbsp;</a>
	      <ul class="dropdown-menu">
	        <li>AIPMT</li>
	      </ul>
	    </li>
	    <li class="nb-link"><a>Hotel Management</a></li>
	  </ul>
	  
	  
	  <div class="content">
	    <h1>PrepPapers</h1>
	  	<h2>Online Exam Question Papers Directory</h2>

	 </div>

	</div>
	<div class="resthome">

	</div>

	<script type="text/javascript" src="/javascripts/vendors/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
</html>
