<!DOCTYPE html>
	<head>
    <title>PrepPapers - Online Exam Question Papers Directory</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/download.css">
    <link rel="icon" 
      type="image/gif" 
      href="http://www.crwflags.com/fotw/images/e/es%7Dpp_96.gif">
	</head>
	<body>
		<header>
  <div class="bars">
    <ul>
      <li class="cor-1"></li>
      <li class="cor-2"></li>
      <li class="cor-3"></li>
      <li class="cor-4"></li>
      <li class="cor-5"></li>
    </ul>
  </div>
  <div class="header-title">
    UPSC Papers 
  </div>
</header>

<section class="content-block">
  <h1>UPSC Papers of all years are centrally made available by the Government of India .</h1>
  <% for(var j=0;j<years;j++){ %>
    <h2><%= year[j] %>  </h2><a href="<%= links[j] %>" class="btn paper-raise">View Papers</a>
  <% } %>
</section>


<footer>
  Request more papers at <STRONG>contact@preppapers.com</strong> .
</footer>

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	</body>
</html>