*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 00;
  font-size: 30px;
  display: block;
  background: url("http://wallpapercave.com/wp/j7dBFIW.jpg");
  /*#34495e*/
  z-index: -1;
  top: 80%;
}

.container {
  width: 100%;
}


.content{ 
  color: #FFFFFF;
  margin: 12px auto;
  margin-bottom: 48px;
  max-width: 800px;
}

p {
  margin: 12px 0;
  font-weight: 300;
}

h1 + p {margin-top: 0;}

h1 {
  margin: 0;
  font-size: 65px;
  color: #FFFFFF;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,.8);
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 35px;
  color: #FFFFFF;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,.8);
  text-align: center;
}

h3 {
  margin-top: .3em;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  text-align: center;
}

.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #34495e;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  border: 1px solid #fff;
}
.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}



header {
  width: 100%;
  height: 50px;
  background-color: #f44355;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header > nav > div {
  float: left;
  width: 16.6666%;
  height: 100%;
  position: relative;
}

header > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 50px;
  color: #fbfbfb;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
}

header > nav > div:hover > a {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

header > nav > div > div {
  display: none;
  overflow: hidden;
  background-color: white;
  min-width: 200%;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
  left: -50%;
  border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
  left: 0;
  border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
  right: 0;
  border-radius: 0 0 0 3px;
}

header > nav > div:hover > div {
  display: block;
}

header > nav > div > div > a {
  display: block;
  float: left;
  padding: 8px 10px;
  width: 46%;
  margin: 2%;
  text-align: center;
  background-color: #f44355;
  color: #fbfbfb;
  border-radius: 2px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-size: 0.8em;
}

header > nav > div > div > a:hover {
  background-color: #212121;
  cursor: pointer;
}

h1 {
  margin-top: 100px;
}


@media (max-width:600px) {
  header > nav > div > div > a {
    margin: 5px 0;
    width: 100%;
  }
}
